- title "Players"

%table
  %tr
    %th Name
  - for player in @players
    %tr
      %td= h player.name
      %td= link_to 'Show', player
      %td= link_to 'Edit', edit_player_path(player)
      %td= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Player", new_player_path
